***
# Machine Learning Linear Regression Model 3 
### Time-Series Forecast of the Average-Annual of Maternal Mortality & Associated Impacts in USA (2009-2030)
***

### Importing Dependencies

In [2]:
# Importing dependencies:
import numpy as np
import pandas as pd

### Read the CSV and Perform Basic Data Cleaning

In [3]:
# Reading the csv file into a pandas DataFrame
mmr_without_race = pd.read_csv('../Resources/non_race_data.csv')
mmr_without_race

,year,state,id,state_code,latitude,longitude,deaths,births,maternal_mortality_ratio,population,...,prem_death_val,smoking_val,uninsured_val,all_determs_val,all_outcomes_val,chlamydia_val,prem_death_ri_val,teen_birth_val,primary_care_val,low_birthweight_val
0,2015,Alabama,US.AL,AL,32.318231,-86.902298,12.0,59657.0,20.11,2505795.0,...,10095.0,21.1,12.9,-0.371,-0.325,611.0,1.2,34.3,103.5,10.0
1,2016,Alabama,US.AL,AL,32.318231,-86.902298,35.0,59151.0,59.17,2507714.0,...,10097.0,21.4,11.1,-0.427,-0.366,600.2,1.1,32.0,116.4,10.1
2,2017,Alabama,US.AL,AL,32.318231,-86.902298,41.0,58941.0,69.56,2514911.0,...,10321.0,21.5,9.6,-0.427,-0.335,543.6,1.2,30.1,119.3,10.4
3,2018,Alabama,US.AL,AL,32.318231,-86.902298,31.0,57761.0,53.67,2523756.0,...,10720.0,20.9,9.3,-0.483,-0.356,553.6,1.1,28.4,122.8,10.3
4,2019,Alabama,US.AL,AL,32.318231,-86.902298,35.0,58615.0,59.71,2533668.0,...,10435.0,19.2,9.7,-0.437,-0.383,614.1,1.2,27.0,122.8,10.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2014,Wisconsin,US.WI,WI,43.784440,-88.787868,16.0,67161.0,23.82,2898057.0,...,6207.0,18.7,9.0,0.165,0.067,415.4,2.0,21.9,125.0,7.1
304,2015,Wisconsin,US.WI,WI,43.784440,-88.787868,11.0,67041.0,16.41,2903737.0,...,6365.0,17.4,8.2,0.146,0.046,411.6,1.9,19.6,125.3,7.0
305,2016,Wisconsin,US.WI,WI,43.784440,-88.787868,15.0,66615.0,22.52,2905282.0,...,6324.0,17.3,6.5,0.114,0.106,403.2,1.9,18.0,140.3,7.3
306,2017,Wisconsin,US.WI,WI,43.784440,-88.787868,12.0,64975.0,18.47,2912745.0,...,6437.0,17.1,5.5,0.201,0.072,423.5,1.9,16.2,145.2,7.3
307,2019,Wisconsin,US.WI,WI,43.784440,-88.787868,13.0,63270.0,20.55,2925225.0,...,6800.0,16.4,5.5,0.129,0.074,478.6,2.0,13.8,152.4,7.7

In [34]:
mmr_without_race.columns

Index(['year', 'state', 'id', 'state_code', 'latitude', 'longitude', 'deaths',
       'births', 'maternal_mortality_ratio', 'population', 'employer',
       'non_group', 'medicaid', 'medicare', 'military', 'uninsured',
       'air_pollution_val', 'cancer_death_val', 'cardio_death_val',
       'child_pov_val', 'choles_check_val', 'dent_vis_val', 'dentists_val',
       'diabetes_val', 'drug_deaths_val', 'health_stat_fem_val',
       'immun_child_val', 'income_ineq_val', 'infant_mort_val',
       'infect_dis_val', 'obesity_val', 'phys_inac_val', 'prem_death_val',
       'smoking_val', 'uninsured_val', 'all_determs_val', 'all_outcomes_val',
       'chlamydia_val', 'prem_death_ri_val', 'teen_birth_val',
       'primary_care_val', 'low_birthweight_val'],
      dtype='object')

### Grouping DataFrame by `year` and Calculating the Average

In [24]:
# Setting y value for grouping
y = 'maternal_mortality_ratio'

# Grouping by year
AVG_MMR_USA = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA.reset_index()

    year  maternal_mortality_ratio
0   2009                 26.747083
1   2010                 25.715417
2   2011                 27.871481
3   2012                 29.929583
4   2013                 31.729333
5   2014                 32.339259
6   2015                 31.944074
7   2016                 35.440968
8   2017                 34.208889
9   2018                 31.526071
10  2019                 34.073333

In [30]:
# Setting y value for grouping
y = 'diabetes_val'

# Grouping by year
AVG_MMR_USA_1 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_1.reset_index()

# Merging with mmr_predictions 
df_1 = pd.merge(AVG_MMR_USA, AVG_MMR_USA_1, how='inner', left_on=['year'], right_on=['year'])
df_1.reset_index()

    year  maternal_mortality_ratio  diabetes_val
0   2009                 26.747083      8.920833
1   2010                 25.715417      9.291667
2   2011                 27.871481      9.229630
3   2012                 29.929583     10.208333
4   2013                 31.729333     10.200000
5   2014                 32.339259     10.070370
6   2015                 31.944074     10.677778
7   2016                 35.440968     10.670968
8   2017                 34.208889     10.869444
9   2018                 31.526071     11.514286
10  2019                 34.073333     11.653333

In [31]:
# Setting y value for grouping
y = 'prem_death_val'

# Grouping by year
AVG_MMR_USA_2 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_2.reset_index()

# Merging with mmr_predictions 
df_2 = pd.merge(df_1, AVG_MMR_USA_2, how='inner', left_on=['year'], right_on=['year'])
df_2.reset_index()

    year  maternal_mortality_ratio  diabetes_val  prem_death_val
0   2009                 26.747083      8.920833     7845.041667
1   2010                 25.715417      9.291667     7816.875000
2   2011                 27.871481      9.229630     7603.666667
3   2012                 29.929583     10.208333     8014.041667
4   2013                 31.729333     10.200000     7635.300000
5   2014                 32.339259     10.070370     7233.481481
6   2015                 31.944074     10.677778     7530.666667
7   2016                 35.440968     10.670968     7582.193548
8   2017                 34.208889     10.869444     7658.861111
9   2018                 31.526071     11.514286     8270.428571
10  2019                 34.073333     11.653333     8077.366667

In [32]:
# Setting y value for grouping
y = 'phys_inac_val'

# Grouping by year
AVG_MMR_USA_3 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_3.reset_index()

# Merging with mmr_predictions 
df_3 = pd.merge(df_2, AVG_MMR_USA_3, how='inner', left_on=['year'], right_on=['year'])
df_3.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val
0,2009,26.747083,8.920833,7845.041667,25.879167
1,2010,25.715417,9.291667,7816.875000,25.350000
2,2011,27.871481,9.229630,7603.666667,24.644444
3,2012,29.929583,10.208333,8014.041667,27.183333
4,2013,31.729333,10.200000,7635.300000,23.720000
5,2014,32.339259,10.070370,7233.481481,26.818519
6,2015,31.944074,10.677778,7530.666667,24.177778
7,2016,35.440968,10.670968,7582.193548,27.041935
8,2017,34.208889,10.869444,7658.861111,24.272222
9,2018,31.526071,11.514286,8270.428571,28.246429
10,2019,34.073333,11.653333,8077.366667,25.070000

In [33]:
# Setting y value for grouping
y = 'low_birthweight_val'

# Grouping by year
AVG_MMR_USA_4 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_4.reset_index()

# Merging with mmr_predictions 
df_4 = pd.merge(df_3, AVG_MMR_USA_4, how='inner', left_on=['year'], right_on=['year'])
df_4.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000

In [35]:
# Setting y value for grouping
y = 'obesity_val'

# Grouping by year
AVG_MMR_USA_5 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_5.reset_index()

# Merging with mmr_predictions 
df_5 = pd.merge(df_4, AVG_MMR_USA_5, how='inner', left_on=['year'], right_on=['year'])
df_5.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667

In [36]:
# Setting y value for grouping
y = 'cardio_death_val'

# Grouping by year
AVG_MMR_USA_6 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_6.reset_index()

# Merging with mmr_predictions 
df_6 = pd.merge(df_5, AVG_MMR_USA_6, how='inner', left_on=['year'], right_on=['year'])
df_6.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000

In [37]:
# Setting y value for grouping
y = 'medicare'

# Grouping by year
AVG_MMR_USA_7 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_7.reset_index()

# Merging with mmr_predictions 
df_7 = pd.merge(df_6, AVG_MMR_USA_7, how='inner', left_on=['year'], right_on=['year'])
df_7.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333

In [38]:
# Setting y value for grouping
y = 'cancer_death_val'

# Grouping by year
AVG_MMR_USA_8 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_8.reset_index()

# Merging with mmr_predictions 
df_8 = pd.merge(df_7, AVG_MMR_USA_8, how='inner', left_on=['year'], right_on=['year'])
df_8.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333

In [39]:
# Setting y value for grouping
y = 'chlamydia_val'

# Grouping by year
AVG_MMR_USA_9 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_9.reset_index()

# Merging with mmr_predictions 
df_9 = pd.merge(df_8, AVG_MMR_USA_9, how='inner', left_on=['year'], right_on=['year'])
df_9.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333

In [40]:
# Setting y value for grouping
y = 'child_pov_val'

# Grouping by year
AVG_MMR_USA_10 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_10.reset_index()

# Merging with mmr_predictions 
df_10 = pd.merge(df_9, AVG_MMR_USA_10, how='inner', left_on=['year'], right_on=['year'])
df_10.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000

In [41]:
# Setting y value for grouping
y = 'infant_mort_val'

# Grouping by year
AVG_MMR_USA_11 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_11.reset_index()

# Merging with mmr_predictions 
df_11 = pd.merge(df_10, AVG_MMR_USA_11, how='inner', left_on=['year'], right_on=['year'])
df_11.reset_index()

,year,maternal_mortality_ratio,diabetes_val,prem_death_val,phys_inac_val,low_birthweight_val,obesity_val,cardio_death_val,medicare,cancer_death_val,chlamydia_val,child_pov_val,infant_mort_val
0,2009,26.747083,8.920833,7845.041667,25.879167,8.475000,27.845833,289.720833,2.037500,197.729167,383.645833,18.529167,7.254167
1,2010,25.715417,9.291667,7816.875000,25.350000,8.383333,28.670833,280.808333,2.058333,195.583333,403.054167,21.225000,7.120833
2,2011,27.871481,9.229630,7603.666667,24.644444,8.303704,28.407407,269.237037,2.085185,194.277778,410.344444,21.255556,6.744444
3,2012,29.929583,10.208333,8014.041667,27.183333,8.520833,28.704167,271.795833,2.216667,196.866667,442.462500,21.679167,6.816667
4,2013,31.729333,10.200000,7635.300000,23.720000,8.290000,28.693333,257.976667,2.210000,193.133333,454.846667,21.450000,6.460000
5,2014,32.339259,10.070370,7233.481481,26.818519,8.096296,29.014815,255.055556,2.192593,191.800000,454.677778,18.859259,6.266667
6,2015,31.944074,10.677778,7530.666667,24.177778,8.325926,29.900000,262.066667,2.370370,194.244444,454.551852,21.644444,6.385185
7,2016,35.440968,10.670968,7582.193548,27.041935,8.280645,30.216129,262.293548,2.354839,196.519355,464.593548,19.541935,6.274194
8,2017,34.208889,10.869444,7658.861111,24.272222,8.244444,30.238889,261.152778,2.263889,193.558333,473.355556,17.900000,6.097222
9,2018,31.526071,11.514286,8270.428571,28.246429,8.592857,31.832143,273.446429,2.364286,199.325000,502.885714,20.500000,6.442857
10,2019,34.073333,11.653333,8077.366667,25.070000,8.600000,32.166667,273.310000,2.263333,195.203333,530.463333,18.380000,6.326667

In [ ]:
# Setting y value for grouping
y = 'infant_mort_val'

# Grouping by year
AVG_MMR_USA_11 = mmr_without_race.groupby('year').mean()[y]
AVG_MMR_USA_11.reset_index()

# Merging with mmr_predictions 
df_11 = pd.merge(df_10, AVG_MMR_USA_11, how='inner', left_on=['year'], right_on=['year'])
df_11.reset_index()