In [1]:
import pandas as pd

In [2]:
# Extract CSV file
filepath = "../Resources/race_data.csv"
race_data = pd.read_csv(filepath)

print(len(race_data))
race_data.head()

388

,state,state_code,year,race,hispanic_origin,births_by_race,deaths_by_race,mmr_by_race,population_by_race,id,state_abbv,latitude,longitude
0,Alabama,1,2016,Black or African American,Not Hispanic or Latino,17989,14,77.83,0,US.AL,AL,32.318231,-86.902298
1,Alabama,1,2016,White,Not Hispanic or Latino,35319,18,50.96,0,US.AL,AL,32.318231,-86.902298
2,Alabama,1,2017,Black or African American,Not Hispanic or Latino,18354,25,136.21,704201,US.AL,AL,32.318231,-86.902298
3,Alabama,1,2017,White,Not Hispanic or Latino,34784,15,43.12,1655605,US.AL,AL,32.318231,-86.902298
4,Alabama,1,2018,Black or African American,Not Hispanic or Latino,17939,14,78.04,706754,US.AL,AL,32.318231,-86.902298

In [4]:
race_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               388 non-null    object
 1   state_code          388 non-null    int64
 2   year                388 non-null    int64
 3   race                388 non-null    object
 4   hispanic_origin     388 non-null    object
 5   births_by_race      388 non-null    int64
 6   deaths_by_race      388 non-null    int64
 7   mmr_by_race         388 non-null    float64
 8   population_by_race  388 non-null    int64
 9   id                  388 non-null    object
 10  state_abbv          388 non-null    object
 11  latitude            388 non-null    float64
 12  longitude           388 non-null    float64
dtypes: float64(3), int64(5), object(5)
memory usage: 39.5+ KB

In [3]:
race_data.corr()

,state_code,year,births_by_race,deaths_by_race,mmr_by_race,population_by_race,latitude,longitude
state_code,1.000000,-0.003414,-0.064594,0.076853,0.060864,0.030284,0.268065,0.303500
year,-0.003414,1.000000,-0.110851,-0.078901,0.051548,0.362474,-0.053729,-0.001945
births_by_race,-0.064594,-0.110851,1.000000,0.526657,-0.562631,0.431093,-0.085820,-0.383920
deaths_by_race,0.076853,-0.078901,0.526657,1.000000,0.175630,0.172267,-0.343356,-0.153124
mmr_by_race,0.060864,0.051548,-0.562631,0.175630,1.000000,-0.360120,-0.151142,0.216478
population_by_race,0.030284,0.362474,0.431093,0.172267,-0.360120,1.000000,0.037722,-0.115487
latitude,0.268065,-0.053729,-0.085820,-0.343356,-0.151142,0.037722,1.000000,0.135233
longitude,0.303500,-0.001945,-0.383920,-0.153124,0.216478,-0.115487,0.135233,1.000000