In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read in csv 
df = pd.read_csv("../Resources/race_data.csv")

In [3]:
df.head()

,state,state_code,year,race,hispanic_origin,births_by_race,deaths_by_race,mmr_by_race,population_by_race,id,state_abbv,latitude,longitude
0,Alabama,1,2016,Black or African American,Not Hispanic or Latino,17989,14,77.83,0,US.AL,AL,32.318231,-86.902298
1,Alabama,1,2016,White,Not Hispanic or Latino,35319,18,50.96,0,US.AL,AL,32.318231,-86.902298
2,Alabama,1,2017,Black or African American,Not Hispanic or Latino,18354,25,136.21,704201,US.AL,AL,32.318231,-86.902298
3,Alabama,1,2017,White,Not Hispanic or Latino,34784,15,43.12,1655605,US.AL,AL,32.318231,-86.902298
4,Alabama,1,2018,Black or African American,Not Hispanic or Latino,17939,14,78.04,706754,US.AL,AL,32.318231,-86.902298

In [4]:
# check for null values
df.isna().sum()

state                 0
state_code            0
year                  0
race                  0
hispanic_origin       0
births_by_race        0
deaths_by_race        0
mmr_by_race           0
population_by_race    0
id                    0
state_abbv            0
latitude              0
longitude             0
dtype: int64

In [5]:
selected_features = df[["race", "hispanic_origin"]]
selected_features

                          race         hispanic_origin
0    Black or African American  Not Hispanic or Latino
1                        White  Not Hispanic or Latino
2    Black or African American  Not Hispanic or Latino
3                        White  Not Hispanic or Latino
4    Black or African American  Not Hispanic or Latino
..                         ...                     ...
383                      White  Not Hispanic or Latino
384                      White  Not Hispanic or Latino
385                      White  Not Hispanic or Latino
386                      White  Not Hispanic or Latino
387                      White  Not Hispanic or Latino

[388 rows x 2 columns]

In [6]:
X = selected_features
y = df["mmr_by_race"]
print(X.shape, y.shape)

(388, 2) (388,)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [8]:
X_train.head()

                          race         hispanic_origin
145                      White  Not Hispanic or Latino
7                        White  Not Hispanic or Latino
19                       White  Not Hispanic or Latino
262  Black or African American  Not Hispanic or Latino
367                      White  Not Hispanic or Latino

In [9]:
y.value_counts()

62.37    2
32.99    2
59.68    2
40.57    2
16.82    2
        ..
13.20    1
63.47    1
17.47    1
19.90    1
29.75    1
Name: mmr_by_race, Length: 375, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from tensorflow.keras.utils import to_categorical

In [17]:
# label encode data set
# label_encoder = LabelEncoder()
# label_encoder.fit(X)
# encoded_y = label_encoder.transform(X)
# label_encoder.classes_

In [11]:
# Importing OrdinalEncoder
from sklearn.preprocessing import OrdinalEncoder
# Instantiating a OrdinalEncoder object to `fit_transform` the data:
ord_enc = OrdinalEncoder()
df["hispanic_origin_code"] = ord_enc.fit_transform(df[["hispanic_origin"]])
# Checking transformed column
df[["hispanic_origin", "hispanic_origin_code"]]

            hispanic_origin  hispanic_origin_code
0    Not Hispanic or Latino                   1.0
1    Not Hispanic or Latino                   1.0
2    Not Hispanic or Latino                   1.0
3    Not Hispanic or Latino                   1.0
4    Not Hispanic or Latino                   1.0
..                      ...                   ...
383  Not Hispanic or Latino                   1.0
384  Not Hispanic or Latino                   1.0
385  Not Hispanic or Latino                   1.0
386  Not Hispanic or Latino                   1.0
387  Not Hispanic or Latino                   1.0

[388 rows x 2 columns]

In [12]:
# Instantiating a OrdinalEncoder object to `fit_transform` the data:
ord_enc_race = OrdinalEncoder()
df["race_code"] = ord_enc_race.fit_transform(df[["race"]])
# Checking transformed column
df[["race", "race_code"]]

                          race  race_code
0    Black or African American        1.0
1                        White        2.0
2    Black or African American        1.0
3                        White        2.0
4    Black or African American        1.0
..                         ...        ...
383                      White        2.0
384                      White        2.0
385                      White        2.0
386                      White        2.0
387                      White        2.0

[388 rows x 2 columns]

In [13]:
# scale with MinMaxScaler()
# standard scaler is st. deviation, MinMax scaler is -1, 1
# X_scaler = MinMaxScaler().fit(X_train)
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)